.view-contaiuner {
  padding: 10;
}

.view-filter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
  padding: 10;
}
.search-dropdown {
  padding: 20px;
  width: 50%;
  align-self: center;
}
